
<div class="header">
    <nav style="text-align: left;">
      <ul style="text-align: left;">
        <li><a routerLink="/home"><h1>Home</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
        <li><a routerLink="/booking"><h1>Booking</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a routerLink="/customers"><h1>Customer</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a routerLink="/room"><h1>Room</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <li><a routerLink="/hotel"><h1>Hotel</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <li><a routerLink="/manager"><h1>Manager</h1></a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a routerLink="/review"><h1>Review</h1></a></li>
        <!-- Add other menu items as needed -->
      </ul>
    </nav>
    </div>
    <div class="header1">
    
      <img src="assets\hotel.jpg" alt="Hotel Image" style="width: 990%; height: 400%;">
      
    </div>
    <div class="hotel-section" style="margin-top: -13%;">
      <h1>Hotel Information</h1>
      <div class="hotel-details">
        <div class="detail">
          <label for="hotelName"><h3>Hotel Name:</h3></label>
          <input type="">
        </div>
    
        <div class="detail">
          <label for="hotelAddress"><h3>Address:</h3></label>
          <input type="">
        </div>
    
        <div class="detail">
          <label for="hotelPhoneNumber"><h3>Phone Number:</h3></label>
          <input type="">
        </div>
        <div class="form-group">
          <button type="submit"><h3>Submit</h3></button>
        </div>
      
      </div>

    </div>
    