<div class="header">
    <nav style="text-align: left;">
      <ul style="text-align: left;">
        <li><a routerLink="/home"><h1>Home</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
        <li><a routerLink="/booking"><h1>Booking</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a routerLink="/customers"><h1>Customer</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a routerLink="/room"><h1>Room</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <li><a routerLink="/hotel"><h1>Hotel</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <li><a routerLink="/manager"><h1>Manager</h1></a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a routerLink="/review"><h1>Review</h1></a></li>
        <!-- Add other menu items as needed -->
      </ul>
    </nav>
  </div>
  
  <div class="header1">
    
    <img src="assets\image1.jpg" alt="Hotel Image" style="width: 990%; height: 200;">
    
  </div>
  
  <div class="About" style="margin-top: 45%;">
  <h1>AboutUs</h1>
  <main>
    <section>
      <h2 style="color: rgb(236, 164, 69);">Our Hotel</h2>
      <h3>Welcome to our hotel, where luxury meets comfort. We strive to provide an exceptional experience for our guests,
        offering
        top-notch services and a welcoming atmosphere.</h3>
    </section>
  
    <section>
      <h2 style="color: rgb(236, 164, 69);">Our Mission</h2>
      <h3>At our hotel, our mission is to create memorable experiences for our guests. We are committed to delivering
        outstanding
        hospitality and ensuring that every stay is a delightful one.</h3>
    </section>
  
    <section>
      <h2 style="color: rgb(236, 164, 69);">Meet the Team</h2>
      <h3>We have a dedicated team of professionals who are passionate about making your stay enjoyable. From our
        experienced
        management to our friendly staff, everyone is focused on providing you with the best possible service.</h3>
    </section>
  
    <section>
      <h2 style="color: rgb(236, 164, 69);">Contact Us</h2>
      <h3 >If you have any questions, suggestions, or feedback, feel free to contact us. Your satisfaction is our priority.
      </h3>
  
      <h3>Email: info&#64;yourhotel.com<br> Phone: (123) 456-7890</h3>
    </section>
  </main>
  
  
  </div>
  