
<div class="header">
  <nav style="text-align: left;">
    <ul style="text-align: left;">
      <li><a routerLink="/home"><h1>Home</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <li><a routerLink="/booking"><h1>Booking</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><a routerLink="/customers"><h1>Customer</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><a routerLink="/room"><h1>Room</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
      <li><a routerLink="/hotel"><h1>Hotel</h1></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
      <li><a routerLink="/manager"><h1>Manager</h1></a></li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><a routerLink="/review"><h1>Review</h1></a></li>
      <!-- Add other menu items as needed -->
    </ul>
  </nav>
</div>
<div class="header1">
    
  <img src="assets\image3.jpg" alt="Hotel Image" style="width: 990%; height: 200;">
  
</div>

  
    <div class="customer-form-container" style="margin-top:-13%">
      <h2>Customer Form</h2 >
      <form>
        <div class="form-group">
          <label for="fullName"><h3>Full Name:</h3></label>
          <input type="text" id="fullName" name="fullName" required>
        </div>
    
        <div class="form-group">
          <label for="email"><h3>Email:</h3></label>
          <input type="email" id="email" name="email" required>
        </div>
    
        <div class="form-group">
          <label for="aadhar"><h3>Aadhar Number:</h3></label>
          <input type="" id="" name="" required>
        </div>
    
        <div class="form-group">
          <label for=""><h3>Mobile No:</h3></label>
          <input type="" id="" name=""  min="10" max="10" required>
        </div>
    
        <div class="form-group">
          <button type="submit"><h4>Submit</h4></button>
        </div>
      </form>
    </div>
    
  
  
